.selected-button {
    background-color: var(--secondary-color);
    color: #fff;
}

.estimate-button {
    height: 50px;
    background-color: var(--primary-color);
    color: #fff;
}

.estimate-button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}

.default-button {
    height: 50px;
}
