.meeting-card, .meeting-button {
    background: var(--primary-color);
    background-color: var(--primary-color);
}

.uk-card-title {
    font-family: 'Mandali', sans-serif;
}

.add-card {
    background: var(--secondary-color);
}

.meeting-card:hover, .uk-button-secondary:hover, .add-card:hover {
    background-color: #b1bafc;
}

a:hover {
    text-decoration: none;
}