body {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.component-wrapper {
  margin: 0 15px;
}

// Find the correct spot to put uikit overrides
.uk-button {
  border-radius: 5px;
  background-color: #61DAFB;
  color: #282c34;
}