html {
    --app-background-color: #ebedfc;
    --primary-color: #2359fa;
    --secondary-color: #c702a9;
    --accent-color: #b1bafc;
}

body {
    background-color: var(--app-background-color);
}

h1, h2, h3 {
    font-family: 'Capriola', serif;
    color: var(--primary-color);
    margin: 2px;
}

h1 {
    font-size: calc(10px + 5vmin);
    margin-bottom: 15px;
}

h2 {
    font-size: calc(10px + 3vmin);
}

h3 {
    font-family: 'Arbutus Slab';
    color: var(--secondary-color);
}

a:hover {
    text-decoration: none;
}

.uk-card, .pp-back-arrow {
    cursor: pointer;
}

.uk-card-title {
    font-family: 'Mandali', sans-serif;
}

.uk-card-primary {
    background-color: var(--primary-color);
}

.uk-card-secondary {
    background-color: var(--secondary-color);
}

.uk-button-primary {
    background-color: var(--primary-color);
}

.uk-button-primary.selected {
    background-color: var(--secondary-color);
}

.uk-icon-button {
    color: var(--primary-color);
}

.pp-login {
    justify-content: center;
}

@media screen and (max-width: 860px) {
    .pp-login {
        flex-direction: column;
    }
}