html {
    --default-background-color: #ebedfc;
    --primary-color: #2359fa;
    --secondary-color: #c702a9;    
}


.default-background {
    background-color: var(--default-background-color);
}

h1, h2, h3 {
    font-family: 'Capriola', serif;
    color: var(--primary-color);
    margin: 2px;
}

h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Arbutus Slab';
    color: var(--secondary-color);
}

.uk-button-primary {
    background-color: var(--primary-color);
}
